@page
@{
    ViewData["Title"] = "Not Found";

    var Message = TempData["Message"];
}

@if (Message != null)
{
    <h2 class="alert alert-danger">@Message</h2>
}

<br />
<a asp-page="Index" class="btn btn-outline-secondary"> Return to the list of users</a>