@page "{bannerId:int}"

@model MyForum.Pages.Banners.DetailsModel
@{
    ViewData["Title"] = "Details";
}

@if(Model.Message != null)
{
    <div class="alet alert-info">@Model.Message</div>
}

<h2>@Model.Banner.Name</h2>

<div>
    Members:
</div>

<br />
<a asp-page="./List" class="btn btn-outline-secondary" > Return to the list of banners</a>