@page
@model MyForum.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center text-dark m-5">
    <h1 class="display-3">Welcome</h1>
    <h2>to</h2>
    <h1>MyForum</h1>
</div>

@if(Model.UserHasNewInvitations)
{
    <div class="position-absolute top-50 start-50 translate-middle">
        <div class="toast" id="mytoastr">
            <div class="toast-body">
                You've got new invitations!<br />
                Check <b>Invitations</b> tab.
            </div>
        </div>
    </div>
}

@section Scripts
{
    <script>
        $(document).ready(function () {
            $('#mytoastr').toast({ delay: 5000 });
            $('#mytoastr').toast('show');
        });
    </script>
}