@page
@model MyForum.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center text-dark m-5">
    <h1 class="display-3">Welcome</h1>
    <h2>to</h2>
    <h1>MyForum</h1>
</div>