@page "{guildId:int}"

@model MyForum.Pages.Guilds.DetailsModel
@{
    ViewData["Title"] = "Details";
}

@if(Model.Message != null)
{
    <div class="alet alert-info">@Model.Message</div>
}

<h2>@Model.Guild.Name</h2>

<div>
    <h4>Members</h4>

    <table class="table">
    <thead>
        <tr>
            <th>Username</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var member in Model.Guild.Members)
        {
            @if (member.Id == Model.Guild.GuildmasterId)
            {
                <tr>
                    <td class="text-success">@member.UserName - Guildmaster</td>
                </tr>
            }
            else
            {
                <tr>
                    <td>@member.UserName</td>
                </tr>
            }
        }
    </tbody>
    </table>

</div>

<br />
<a asp-page="Index" class="btn btn-outline-secondary" > Return to the list of banners</a>